
<table>
  <tr>
    <td>Name:</td>
    <td><%= [@user.first_name, @user.last_name].join(' ') %></td>
  </tr>
  <tr>
    <td>Username:</td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= @user.email %></td>
  </tr>
</table>

#add link to homepage/back


